colour==0.1.5
ipython==8.26.0
isosurfaces==0.1.2
fonttools==4.53.1
mapbox-earcut==1.0.1
matplotlib==3.9.1
moderngl==5.10.0
moderngl-window==2.4.6
numpy==1.26.4
pillow==10.4.0
pydub==0.25.1
Pygments==2.18.0
PyOpenGL==3.1.7
pyperclip==1.9.0
pyrr==0.10.3
PyYAML==6.0.1
rich==13.7.1
scipy==1.14.0
screeninfo==0.8.1
skia-pathops==0.8.0.post1
svgelements==1.9.6
sympy==1.13.0
tqdm==4.66.4
typing_extensions==4.12.2
validators==0.31.0
